venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/
.venv
samples/Azure - 云希.wav
samples/步非烟.wav
samples/江山如此多娇002 (2).mp3
samples/流萤.wav
samples/高树三姐妹4 (2).mp3
samples/AD学姐 Voice Generator.wav
samples/ASMR Voice Generator.mp3
samples/Barack Obama Voice Generator.wav
samples/Benedict Cumberbatch Voice Generator.mp3
samples/Darth Vader Voice Generator.mp3
samples/David Attenborough Voice Generator.wav
samples/Elon Musk(Noise reduction) Voice Generator.mp3
samples/Friendly Women Voice Generator.mp3
samples/Gordon Ramsay Voice Generator.mp3
samples/Jeremy Clarkson Voice Generator.mp3
samples/Obama Voice Generator.mp3
samples/Patrick Star Voice Generator.mp3
samples/POTUS 47 - Trump Voice Generator.mp3
samples/Spongebob Squarepants Voice Generator_2.mp3
samples/SpongeBob SquarePants Voice Generator.mp3
samples/Yoda Voice Generator.mp3
samples/ӫ Voice Generator.mp3
samples/东北姐姐 Voice Generator.mp3
samples/初音未来 Voice Generator.mp3
samples/周星驰 Voice Generator.mp3
samples/女声-很烧的姐姐 Voice Generator.mp3
samples/宣传片（大气悠扬浑厚） Voice Generator.mp3
samples/小瑞 Voice Generator.mp3
samples/岳云鹏 Voice Generator.mp3
samples/康辉 Voice Generator.mp3
samples/御女茉莉 Voice Generator.mp3
samples/杨幂 Voice Generator.mp3
samples/栗子熟了 Voice Generator.mp3
samples/毕业季温情女学生 Voice Generator.mp3
samples/沈腾 Voice Generator.mp3
samples/治愈放松女声 Voice Generator.mp3
samples/温柔动听女声 Voice Generator.mp3
samples/爱丽丝（中配） Voice Generator.mp3
samples/甜甜 Voice Generator.mp3
samples/皮具 Voice Generator.mp3
samples/舌尖上的中国 Voice Generator.mp3
samples/蒋介石 Voice Generator.mp3
samples/雷军 Voice Generator.mp3
samples/骚气御姐音 Voice Generator.mp3
