venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/
.venv
samples/Fish Audio - 【宣传片】（大气悠扬浑厚） Voice Generator.mp3
samples/Fish Audio - AD学姐 Voice Generator.wav
samples/Fish Audio - ASMR Voice Generator.mp3
samples/Fish Audio - Barack Obama Voice Generator.wav
samples/Fish Audio - Benedict Cumberbatch Voice Generator.mp3
samples/Fish Audio - Darth Vader Voice Generator.mp3
samples/Fish Audio - David Attenborough Voice Generator.wav
samples/Fish Audio - Elon Musk(Noise reduction) Voice Generator.mp3
samples/Fish Audio - Friendly Women Voice Generator.mp3
samples/Fish Audio - Gordon Ramsay Voice Generator.mp3
samples/Fish Audio - Jeremy Clarkson Voice Generator.mp3
samples/Fish Audio - Obama Voice Generator.mp3
samples/Fish Audio - Patrick Star Voice Generator.mp3
samples/Fish Audio - POTUS 47 - Trump Voice Generator.mp3
samples/Fish Audio - Spongebob Squarepants Voice Generator_2.mp3
samples/Fish Audio - SpongeBob SquarePants Voice Generator.mp3
samples/Fish Audio - Yoda Voice Generator.mp3
samples/Fish Audio - ӫ Voice Generator.mp3
samples/Fish Audio - 东北姐姐 Voice Generator.mp3
samples/Fish Audio - 初音未来 Voice Generator.mp3
samples/Fish Audio - 周星驰 Voice Generator.mp3
samples/Fish Audio - 女声-很烧的姐姐 Voice Generator.mp3
samples/Fish Audio - 小瑞 Voice Generator.mp3
samples/Fish Audio - 岳云鹏 Voice Generator.mp3
samples/Fish Audio - 康辉 Voice Generator.mp3
samples/Fish Audio - 御女茉莉 Voice Generator.mp3
samples/Fish Audio - 杨幂 Voice Generator.mp3
samples/Fish Audio - 栗子熟了 Voice Generator.mp3
samples/Fish Audio - 毕业季温情女学生 Voice Generator.mp3
samples/Fish Audio - 沈腾 Voice Generator.mp3
samples/Fish Audio - 治愈放松女声 Voice Generator.mp3
samples/Fish Audio - 温柔动听女声 Voice Generator.mp3
samples/Fish Audio - 爱丽丝（中配） Voice Generator.mp3
samples/Fish Audio - 甜甜 Voice Generator.mp3
samples/Fish Audio - 皮具 Voice Generator.mp3
samples/Fish Audio - 舌尖上的中国 Voice Generator.mp3
samples/Fish Audio - 蒋介石 Voice Generator.mp3
samples/Fish Audio - 雷军 Voice Generator.mp3
samples/Fish Audio - 骚气御姐音 Voice Generator.mp3
samples/sample_voice.wav
samples/步非烟.wav
samples/江山如此多娇002 (2).mp3
samples/流萤.wav
samples/高树三姐妹4 (2).mp3
